<!DOCTYPE html>
{%- set lang = config.ALTERNATIVES and alt or 'en' %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ lang }}" xml:lang="{{ lang }}">
<head profile="http://a9.com/-/spec/opensearch/1.1/">
{%- block head -%}
 <title>
  {%- set title = title|default("Open-Source Mathematical Software System") -%}
  {%block title -%}{{ sage }} - {{ title }}{%- endblock %}
 </title>
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
 <meta http-equiv="content-type" content="text/html; charset=utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />

 <link rel="search"
       type="application/opensearchdescription+xml"
       href="{{ config.PROJECT.url }}/res/sage-search.xml"
       title="Search sagemath.org" />
 <link href='{{ "/res/sage.css" | asseturl }}' type="text/css" rel="stylesheet" />
 <link rel="shortcut icon" href="{{ "/pix/sageicon.png" | asseturl }}" type="image/x-icon" />
 <link rel="alternate" type="application/rss+xml" title="{{ sage }} RSS News Feed" href="http://groups.google.com/group/sage-announce/feed/atom_v1_0_msgs.xml" />
 <script src="//code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
 <script src='{{ "/res/sage.js" | asseturl }}' type="text/javascript"></script>
 <link href="http://plus.google.com/113421169347512599264/" rel="publisher" />
 <link href='//fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en,fr,de,es' rel='stylesheet' type='text/css'>

 <meta property="og:title" content="{{ sage }} Mathematical Software System - Sage"/>
 <meta property="og:type" content="website"/>
 <meta property="og:url" content="{{ config.PROJECT.url }}"/>
 <meta property="og:image" content="{{ config.PROJECT.url }}/pix/sage_logo_new_l_hc.png"/>
 <meta property="og:site_name" content="{{ sage }} Mathematical Software System"/>
 <meta property="og:description" content="{{ sage }} is a free and open-source mathematical software system."/>
 {%- block header -%}
 {# This block is just for additional head extensions that can be inserted by #}
 {# pages after the normal <head> tags                                        #}
 {%- endblock -%}
 {%- endblock -%}
</head>

<body>
<div id="header" class="small">
<div id="header-logo">
 <a href="{{ "/" | url }}">
  <img width="250" height="65" alt="{{ sage }} Logo" class="round raised"
       src="/{{ logo }}" title="{{ sage }} Mathematical Software" />
 </a>
{%- block logo_title -%}{%- endblock -%}
</div>

<div id="header-text">
{%- block header_text -%}
<form action="{{ "/search.html" | url }}" method="get">
<a href="https://groups.google.com/group/sage-announce/feed/atom_v1_0_msgs.xml">RSS</a>
&middot;
<a href="http://planet.sagemath.org/">Blog</a>
&middot;
<a href="http://trac.sagemath.org/sage_trac">Trac</a>
&middot;
<a href="https://wiki.sagemath.org/">Wiki</a>
&middot;
<a href="http://ask.sagemath.org/">Questions?</a>
{# &middot;
<a href="http://interact.sagemath.org/">Interact</a>
#}
{# <a href="http://spreadsheets.google.com/viewform?formkey=dDY2V092c2R4b3F3c0hSNFMycTFobWc6MA">Feedback</a> #}
&middot;
<a title="Donate to the UW {{ sage }} Foundation Fund"
   href="https://secure.gifts.washington.edu/as_mathematics/gift.asp?page=make&amp;Code=MATSAG">
    <b>Donate</b>
</a>
</form>

Online:
<a href="https://cocalc.com/?utm_source=sagemath.org&amp;utm_medium=top">CoCalc</a>
{# <a href="http://www.sagenb.org/">sagenb</a> #}
&middot;
<a href="https://sagecell.sagemath.org/">SageCell</a>
or
<a href="{{ "/download.html" | url }}" downloadurl>Download</a>,
<a href="{{ "/download-source.html" | url }}">Source Code</a>
<br/>
<a href="{{ "/download.html" | url }}" downloadurl>v{{ version }} ({{ releasedate }})</a>
&middot;

<a href="https://plus.google.com/+sagemath/" style="text-decoration: none;"><img src="https://ssl.gstatic.com/images/icons/gplus-16.png" alt="G+" width="16" height="16" style="border: 0;"/></a>

<a href="https://www.facebook.com/pages/Sage-Math/26593144945">
    <img alt="F" src="{{ "/pix/facebook-favicon.ico" | asseturl }}" width="16" height="16" /></a>
<a href="https://twitter.com/sagemath">
    <img alt="T" src="{{ "/pix/twitter-favicon.ico" | asseturl }}" width="16" height="16"/></a>
{% if config.ALTERNATIVES %}
<strong>&middot;</strong>
<form name="i18n" style="display:inline">
<select style="" name="menu" onChange="location='/' + document.i18n.menu.options[document.i18n.menu.selectedIndex].value;">
<option disabled>Language</option>
<option value=""{{ ' selected' if alt == 'en' }}>English</option>
{% for alt_code, alt_data in config.ALTERNATIVES.items() %}
{% if not alt_data.primary %}
<option value="{{ alt_code }}"{{ ' selected' if alt_code == alt }}>{{ alt_data.name[alt_code] }}</option>
{% endif %}
{% endfor %}
</select>
</form>
{% endif %}
{%- endblock -%}
</div>

</div>

<div id="sage-nav-buffer" style="display: none"></div>

<ul id="sage-nav">
{%- block menu -%}
<li><a href="{{ "/" | url }}">Home</a>
<ul>
 <li><a href="{{ "/search.html" | url }}">Search</a></li>
 <li><a href="https://secure.gifts.washington.edu/as_mathematics/gift.asp?page=make&amp;Code=MATSAG" class="ext">Donate</a></li>
 <li><a href="{{ "/development-ack.html" | url }}">Acknowledgments</a></li>
 {# <li><a href="http://wiki.sagemath.org/gsoc10">Get Involved</a></li> #}
 <li><a href="http://wiki.sagemath.org/Workshops">{{ sage }} Days</a></li>
</ul>
</li>

<li><a href="{{ "/tour.html" | url }}">Tour</a>
<ul>
 <li><a href="{{ "/tour.html" | url }}">Overview</a></li>
 <li><a href="{{ "/library-why.html" | url }}">Why Sage?</a></li>
 <li class="section"><a href="{{ "/tour-quickstart.html" | url }}">Quickstart</a></li>
 <li><a href="{{ "/tour-graphics.html" | url }}">Graphics</a></li>
 <li><a href="{{ "/tour-research.html" | url }}">Research</a></li>
 <li><a href="{{ "/tour-benchmarks.html" | url }}">Benchmarks</a></li>
 <li class="section"><a href="http://wiki.sagemath.org/interact/">Interactive Plots (wiki)</a></li>
 <li><a href="{{ docroot }}/html/en/a_tour_of_sage/">A Tour of {{ sage }}</a></li>
</ul>
</li>

<li><a href="{{ "/help.html" | url }}">Help</a>
<ul>
 <li><a href="{{ docroot }}"><b>Online Documentation</b></a></li>
 <li class="section"><a href="{{ "/help.html" | url }}">Support Resources</a></li>
 <li><a href="{{ "/help-groups.html" | url }}">Mailing Lists</a></li>
 <li><a href="http://ask.sagemath.org" class="ext">Ask a question</a></li>
 <li><a href="{{ "/help-uSage.html" | url }}">u{{ sage }} User Groups</a></li>
 <li><a href="{{ "/help-irc.html" | url }}">IRC Chat</a></li>
 <li><a href="{{ "/help-video.html" | url }}">Videos</a></li>
 <li class="section"><a href="{{ docroot }}/html/en/tutorial/">Tutorial</a></li>
 <li><a href="{{ docroot }}/html/en/constructions/">Constructions</a></li>
 <li><a href="{{ docroot }}/html/en/reference/">Reference Manual</a></li>
</ul>
</li>

<li><a href="{{ "/library.html" | url }}">Library</a>
<ul>
 <li><a href="{{ "/library.html" | url }}">Overview</a></li>
 <li><a href="{{ "/library-stories.html" | url }}">Testimonials</a></li>
 <li><a href="{{ "/library-publications.html" | url }}">Publications</a></li>
 <li><a href="{{ "/library-publications-combinat.html" | url }}">Publications Combinat</a></li>
 <li><a href="{{ "/library-publications.html#books" | url }}" >Books</a></li>
 <li class="section"><a href="{{ "/library-marketing.html" | url }}">Marketing</a></li>
 <li><a href="{{ "/library-press.html" | url }}">Press Kit</a></li>
 <li class="section"><a href="{{ "/calctut/index.html" | url }}">Calculus Tutorial</a></li>
</ul>
</li>

<li><a href="{{ "/download.html" | url }}">Download</a>
<ul>
 <li><a href="{{ "/download-windows.html" | url }}">Windows</a></li>
 <li><a href="{{ "/download-mac.html" | url }}">Mac OSX</a></li>
 <li><a href="{{ "/download-linux.html" | url }}">Linux</a></li>
 <li class="section"><a href="{{ "/download-source.html" | url }}">Source (stable)</a></li>
 <li><a href="{{ "/download-latest.html" | url }}">Source (devel)</a></li>
 <li class="section"><a href="{{ "/download-liveusb.html" | url }}">Live USB Key</a></li>
 <li class="section"><a href="{{ "/download-packages.html" | url }}">Packages (SPKG)</a></li>
 <li class="section"><a href="{{ docroot }}/html/en/installation">Install Guide</a></li>
 <li><a href="{{ "/mirrors.html" | url }}">Mirrors</a></li>
</ul>
</li>

<li><a href="{{ "/development.html" | url }}">Development</a>
<ul>
 <li><a href="{{ "/development.html" | url }}">Info for Developers</a></li>
 <li><a href="{{ "/development-groups.html" | url }}">Mailing Lists</a></li>
 <li><a href="http://trac.sagemath.org">Trac server</a></li>
 <li><a href="{{ "/development-map.html" | url }}">Developer Map</a></li>
 <li><a href="{{ "/development-status.html" | url }}">Status</a></li>
 <li><a href="{{ "/development-search.html" | url }}">Search</a></li>
 <li><a href="{{ "/development-prize.html" | url }}">Prize</a></li>
 <li><a href="{{ "/development-ack.html" | url }}">Acknowledgment</a></li>
 <li class="section"><a href="{{ git }}">Source Code</a></li>
 <li><a href="https://github.com/sagemath/sage">GitHub repository</a></li>
 <li><a href="{{ docroot }}/html/en/developer/">Developer Guide</a></li>
</ul>
</li>

<li><a href="{{ "/links.html" | url }}">Links</a>
<ul>
 <li><a href="{{ "/links.html" | url }}">Projects &amp; Software</a></li>
 <li><a href="{{ "/links-components.html" | url }}">{{ sage }} Components</a></li>
 <li class="section"><a href="http://sagecell.sagemath.org/">{{ sage }} Cell Server</a></li>
 <li class="section"><a href="http://planet.sagemath.org/">{{ sage }} Blog</a></li>
 <li><a href="http://wiki.sagemath.org/">{{ sage }} Wiki</a></li>
 <li><a href="https://groups.google.com/forum/#!forum/sage-devel">Report a bug</a></li>
 <li><a href="{{ git }}">{{ sage }} Code Repository</a></li>
 <li class="section"><a href="https://secure.gifts.washington.edu/as_mathematics/gift.asp?page=make&amp;Code=MATSAG" class="ext">Donate</a></li>
 <li><a href="{{ "/contact.html" | url }}">Contact</a></li>
</ul>
</li>
{%- endblock -%}
</ul>

{%- block content -%}
{%- endblock -%}
{%- block bottom -%}
{%- endblock -%}

<div style="height:auto;min-height:50px;"> </div>
<div id="footer" class="center">
<table>
<tr id="links">
    <td><a id="footer-webmaster" href="{{ git_website }}"></a></td>
    <td>&middot;</td>
    <td><a id="footer-cc" title="website content is Creative Commons 3.0 licensed"
           href="http://creativecommons.org/licenses/by-sa/4.0/"></a></td>
    <td>&middot;</td>
    <td><a id="footer-donate" title="Donate to the UW {{ sage }} Foundation Fund"
           href="https://secure.gifts.washington.edu/as_mathematics/gift.asp?page=make&amp;Code=MATSAG"></a>
    </td>
    <td>&middot;</td>
    <td><a id="footer-rss" title="RSS News Feed"
           href="http://groups.google.com/group/sage-announce/feed/atom_v1_0_msgs.xml"></a></td>
    <td>&middot;</td>
    <td><a id="footer-contact" title="Contact {{ sage }} Project" href="{{ "/contact.html" | url }}"></a></td>
</tr>

<tr style="height: 70px;">
<td align="right" colspan="1">

<a style="background:none;" href="https://www.clustrmaps.com/map/Sagemath.org">
    <img width="65" height="42"
    style="border:0px;"
    id="clustrMapsImg"
    src="https://www.clustrmaps.com/stats/maps-no_clusters/sagemath.org-thumb.jpg" alt="Locations of visitors to this page" />
</a>

</td>
<td></td>
<td align="center" style="padding-bottom: 10px;vertical-align: center">
<div id="histats_counter"></div>
<noscript>
<a href="http://www.histats.com" alt="free web stats" target="_blank" >
<div id="histatsC"><img border="0" src="http://s4is.histats.com/stats/i/1579950.gif?1579950&103"></div></a>
</noscript>
</td>
<td></td>
<td align="left" style="padding-bottom: 0px; vertical-align: center; horizontal-align: center;">
  <g:plusone size="medium" href="{{ config.PROJECT.url }}"></g:plusone>
</td>
<td></td>
<td>
<div id="fb-root"></div>
<div class="fb-like" data-href="https://www.facebook.com/pages/Sage-Math/26593144945" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
</td>
<td></td>
<td>
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ config.PROJECT.url }}" data-text="I like @sagemath" data-related="sagemath">Tweet</a>
</td>
</tr>
</table>
</div>
{%- block footer -%}
{%- endblock -%}
</body>
</html>
